@import "tailwindcss";

/* LIGHT THEME */
:root {
  --bg: #ffffff;
  --text: #111827;
  --card: #ffffff;
  --muted: #f3f4f6;
}

/* DARK THEME */
.dark {
  --bg: #0f172a;
  --text: #f9fafb;
  --card: #020617;
  --muted: #1e293b;
}

/* APPLY THEME GLOBALLY */
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
